body {
    background-image: url("../../Default.jpg");
    align-content:center ; 

}

h1
{
        color: darkblue;
        margin-left: 150px;

}

 h2, h3{
     color:darkblue;
 }

p, hr  {
    margin-right: 300px;
    text-align: justify;
    
}

form, video, iframe{
    margin-left: 150px;
    margin-right: 500px;
}

fieldset{
    font-size: large;
}