body {
}
           p{
               clear:both;
           }
            @media screen and (min-width: 500px){
               .field-label,.field{
                   float:left;

                }
            }
            @media screen and (max-width: 500px) {
                body {
                    background-color: red;
                }
                 .container{
            width:400px;
            margin:auto;
        }
            }

            @media screen and (min-width: 500px) and (max-width: 700px) {
                body {
                    background-color: green;

                }
                 .container{
            width:400px;
            margin:auto;
        }
                 .row{
                     width:400px;
                     clear:both;
                 }
                 .col-6{
                     width:200px;
                     float: left;
                 }
            }

            @media screen and (min-width: 700px) {
                body {
                    background-color: white;
                }
                 .container{
            width:600px;
            margin:auto;
        }
                 .row{
                     width:600px;
                     clear:both;
                         
                 }
                 .col-6{
                     width:300px;
                     float:left;

                 }
            }
        
